<%= form_with model: [@merchant, IdentityVerification.new] do |form| %>
  <% if identity_verification.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(identity_verification.errors.count, "error") %> prohibited this identity_verification from being saved:</h2>

      <ul>
        <% identity_verification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :ssn, "SSN" %>
    <%= form.text_field :ssn, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :dl_front, "Driving License Front" %>
    <%= form.file_field :dl_front, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
    <div class="my-5">
    <%= form.label :dl_back, "Driving License Back" %>
    <%= form.file_field :dl_back, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :picture, "Picture of you holding your ID" %>
    <%= form.file_field :picture, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Verify Identity", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
