<div id="<%= dom_id merchant %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= merchant.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Middle name:</strong>
    <%= merchant.middle_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= merchant.last_name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this merchant", merchant, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this merchant', edit_merchant_path(merchant), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
